@model AtomicSynergistics.DATA.EF.Models.Department

@{
    ViewData["Title"] = Model.DepartmentName + " Department";
}

<h1>@ViewData["Title"]</h1>
<h2 class="text-clientGreen">Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.Location.LocationCity)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-clientDkGrey" asp-action="Edit" asp-route-id="@Model?.DepartmentId">Edit</a>
    <a class="btn btn-clientGreen" asp-action="Index">Back to List</a>
</div>
