@model IEnumerable<AtomicSynergistics.DATA.EF.Models.Country>

@{
    ViewData["Title"] = "Countries";
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex align-items-start flex-column pt-4">
    <p>
        <a asp-action="Create" class="btn btn-clientGreen">Add +</a>
    </p>
</div>
<table class="table display cell-border" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.RegionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CountryId" class="btn btn-inverse-clientGreen"> Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.CountryId" class="btn btn-inverse-danger"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });</script>
}
