@model AtomicSynergistics.DATA.EF.Models.Product

@{
    ViewData["Title"] = Model.ProductName;
}

<h1>@ViewData["Title"]</h1>
<h2 class="text-clientGreen">Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10 pt-2">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.CostPerUnit)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.CostPerUnit)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>
        <dd class = "col-sm-10 pt-2">
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.UnitType)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.UnitType)
        </dd>
        <dt class = "col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.ProductStatus)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.ProductStatus.ProductStatusName)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.ProductType.ProductTypeName)
        </dd>
        <dt class="col-sm-2 pt-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10 pt-2">
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-clientDkGrey" asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a>
    <a class="btn btn-clientGreen" asp-action="Index">Back to List</a>
</div>
